---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const photos = (await getCollection('photos')).sort(
  (a, b) =>
    new Date(b.data.created).getTime() - new Date(a.data.created).getTime()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <ul>
      {
        photos.map((photo) => (
          <li>
            <a href={photo.id}>{photo.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
