* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
}

.item {
  width: 33.333%;
  aspect-ratio: 4/3;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container.-v {
  height: 100%;
  aspect-ratio: 3/4;
}

.image-container.-h {
  width: 100%;
  aspect-ratio: 4/3;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.item:hover img {
  transform: scale(0.95);
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.5;
  }
}

.preview {
  width: 100vw;
  height: 100vh;
  padding: 40px 40px 50px 40px;

  animation: pulse 1s ease-in-out infinite alternate-reverse;
}

.preview.loaded {
  animation: none;
}

.preview img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.preview.loaded img {
  opacity: 1;
}

.preview.full {
  width: auto;
  height: auto;
  padding: 0;
}

.preview.full img {
  width: auto;
  height: auto;
  padding: 40px;
  background: none !important;
}

.preview-placeholder.-v {
  position: absolute;
  left: 50%;
  top: 40px;
  bottom: 50px;
  transform: translateX(-50%);
}

.preview-placeholder.-h {
  position: absolute;
  top: calc(50% - 5px);
  left: 40px;
  right: 40px;
  transform: translateY(-50%);
}

.preview.full .preview-placeholder {
  display: none;
}

.exif {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 15px;
  justify-content: center;

  position: absolute;
  left: 0px;
  right: 0;
  bottom: 15px;
}

.exif-exposure::after {
  content: 's';
}

.exif-fstop::before {
  content: 'f';
  font-style: italic;
  margin-right: 2px;
}

.exif-iso::before {
  content: 'ISO ';
}

.exif-focal-length::after {
  content: 'mm';
}

.preview.full ~ .exif {
  display: none;
}

.back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;

  text-decoration: none;
  color: inherit;
}

.back::after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%) rotate(225deg);
}

.back:hover {
  color: blue;
}

.preview.full ~ .back {
  display: none;
}