* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

.item {
  width: 33.333%;
  aspect-ratio: 4/3;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid:hover .item img {
  opacity: 0.8;
}

.grid:hover .item:hover img {
  opacity: 1;
}

.image-container.-v {
  height: 100%;
  aspect-ratio: 3/4;
}

.image-container.-h {
  width: 100%;
  aspect-ratio: 4/3;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.5;
  }
}

.preview {
  width: 100vw;
  height: 100vh;
  padding: 20px;

  animation: pulse 1s ease-in-out infinite alternate-reverse;
}

.preview.loaded {
  animation: none;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.preview.full {
  width: auto;
  height: auto;
  padding: 0;
}

.preview.full img {
  width: auto;
  height: auto;
  padding: 20px;
}