{% extends "layout.j2" %}

{% block content %}
<div class="cover">
<div class="cover-box">
  <div class="cover-box-item"><span>a</span></div>
  <div class="cover-box-item"><span>l</span></div>
  <div class="cover-box-item"><span>e</span></div>
  <div class="cover-box-item"><span>x</span></div>
  <div class="cover-box-item"><span>l</span></div>
  <div class="cover-box-item"><span>u</span></div>
  <div class="cover-box-item"><span>n</span></div>
  <div class="cover-box-item"><span style="font-style: italic;">yo</span></div>
  <div class="cover-box-item"><span>v</span></div>
</div>
</div>
<div class="grid">
  {% for item in items %}
  <a href="{{ item.id }}.html" class="item">
    <div class="image-container {% if item.size.width > item.size.height %}-h{% else %}-v{% endif %}">
      <img src="images/thumbs/{{ item.id }}.jpg" style="background-color: {{ item.color }};" loading="lazy" alt="{{ item.title }}">
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}