{% extends "layout.j2" %}

{% block content %}
<header class="cover">
  <div class="cover-box" tabindex="0">
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>
    <div class="cover-box-item" tabindex="-1"></div>

    <div>
      <div class="cover-box-letter"><span>a</span></div>
      <div class="cover-box-letter"><span>l</span></div>
      <div class="cover-box-letter"><span>e</span></div>
      <div class="cover-box-letter"><span>x</span></div>
      <div class="cover-box-letter"><span>l</span></div>
      <div class="cover-box-letter"><span>u</span></div>
      <div class="cover-box-letter"><span>n</span></div>
      <div class="cover-box-letter" style="font-style: italic;"><span>ё</span></div>
      <div class="cover-box-letter"><span>v</span></div>
    </div>
  </div>

  <div class="cover-shutter"></div>
</header>
<div class="grid">
  {% for item in items %}
  <a href="{{ item.id }}.html" tabindex="0" class="item">
    <div class="image-container {% if item.size.width > item.size.height %}-h{% else %}-v{% endif %}">
      <img src="images/thumbs/{{ item.id }}.jpg" style="background-color: {{ item.color }};" {% if loop.index > 5 %}loading="lazy"{% endif %} alt="{{ item.title }}">
    </div>
  </a>
  {% endfor %}
</div>

<footer class="footer">
  <a href="https://instagram.com/sunify" target="_blank" noreferrer noopener>instagram.com/sunify</a>
</footer>
{% endblock %}