{% extends "layout.j2" %}

{% set pageTitle = [item.title, "Alex Lunyov' Photos"] | join(' · ') %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block meta %}
<meta property="og:image" content="https://sunify.github.io/photos/images/og/{{ item.id }}.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ pageTitle }}">
<meta name="og:title" content="{{ pageTitle }}">
{% endblock %}

{% block content %}
<div class="preview" {% if prevItem %}data-prev="{{ prevItem.id }}"{% endif %} {% if nextItem %}data-next="{{ nextItem.id }}"{% endif %}>
  <img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
    data-src="images/full/{{ item.id }}.jpg"
    data-aspect="{{ item.size.width/item.size.height }}"
    alt="{{ item.title }}"
  />
  <div class="preview-placeholder" style="aspect-ratio: {{ item.size.width/item.size.height }}; background-color: {{ item.color }}"></div>

  <a href="." class="back"></a>
</div>
<div class="exif">
  <div class="exif-model">{{ formatModel(item.exif.image.Model) }}</div>
  <div class="exif-focal-length">{{ item.exif.exif.FocalLengthIn35mmFormat }}</div>
  <div class="exif-exposure">{{ formatExposure(item.exif.exif.ExposureTime) }}</div>
  <div class="exif-fstop">{{ item.exif.exif.FNumber }}</div>
  <div class="exif-iso">{{ item.exif.exif.ISO }}</div>
</div>
{% endblock %}

{% block script %}
<script src="static/item.js"></script>
{% endblock %}
