{% set title = "Alexander Lunyov" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
  {% block meta %}
  <meta property="og:image" content="https://sunify.github.io/photos/static/og.jpg">
  <meta property="og:image:width" content="{{ item.size.width }}">
  <meta property="og:image:height" content="{{ item.size.height }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="og:title" content="{{ title }}">
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
  {% block content %}{% endblock %}

  <script src="static/script.js"></script>
</body>
</html>